<header class="hero-header">
  <h1>Ready 4 Learning</h1>
  <p>Homepage</p>
</header>

<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>Dashboard</mat-card-title>
        <mat-card-subtitle>Operational DashBoard Overview</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="alert-banner" *ngIf="lowStockAlert">
          ⚠ Low stock detected in inventory! Please review the Inventory Page for details.
          <button mat-button color="warn" (click)="dismissAlert()">Dismiss</button>
        </div>

        <!--dashboard overview-->
        <section class ="general-info">
          <h3>System Overview </h3>
          <p> Welcome to Ready 4 Learning HomePage! this dashboard provides real time updates on the system status, key metrics, and Student Engagement. </p>
        </section>

        <!-- Dashboard Grid-->
        <div class = "stats-container">

          <!-- Shows stats for Student Info -->
        <div class ="info-tile families">
          <mat-icon>groups</mat-icon>
          <div class = "tile-content">
            <span class="label">Families Registered</span>
            <span class="value">{{ familyCount }}</span>
          </div>
        </div>

        <div class ="info-tile students">
          <mat-icon>person</mat-icon>
          <div class = "tile-content">
            <span class="label">Students Registered</span>
            <span class="value">{{ studentCount }}</span>
          </div>
        </div>


        <div class="info-tile inventory">
          <mat-icon>inventory</mat-icon>
          <div class="tile-content">
            <span class="label">Item Types</span>
            <span class="value">{{ inventoryCount }}</span>
          </div>
        </div>

        <div class = "info-tile total inventory">
          <mat-icon>inventory_2</mat-icon>
          <div class = "tile-content">
            <span class = "label">Total Units in Stock</span>
            <span class ="value">{{ stockCount }}</span>
          </div>
        </div>

        <!-- Shows stats for Schools-->
        <div class="info-tile">
          <mat-icon>school</mat-icon>
          <div class="tile-content">
            <span class="label">Schools</span>
            <span class="value">{{ schoolCount }}</span>
          </div>
        </div>

        <!-- Shows status for stock -->
        <div class="info-tile">
          <mat-icon>warning</mat-icon>
          <div class="tile-content">
            <span class="label">Low Stock Items</span>
            <span class="value">{{ lowStockItems.length }}</span>
          </div>
        </div>

        <div class="info-tile">
          <mat-icon>sensors</mat-icon>
          <div class="tile-content">
            <span class="label">System Status</span>
            <span class="value">{{ lowStockAlert ?  'Attention' : 'Active'}}</span>
          </div>
        </div>
      </div>
      </mat-card-content>


      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="viewInventory()">View Inventory</button>
        <button mat-raised-button color="accent" (click)="viewFamilies()">View Families</button>
        <button mat-raised-button color="accent" (click)="viewShoppingList()">View Shopping List</button>
        <button mat-raised-button color="accent" (click)="viewSettings()">View Settings</button>
        <button mat-raised-button color="accent" (click)="viewGradeReq()">View Grade Requirements</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
