.hero-header {
  text-align: center;
  padding: 80px 20px 50px;

  h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
  }

  p {
    font-size: 1.3rem;
    margin-top: 18px;
    letter-spacing: 4px;
    color: #95a5a6;
  }
}

.home-card {
  margin: 30px auto;
  max-width: 1100px;
  padding: 20px;
  border-radius: 16px;
}


.alert-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fee2e2;
  border: 1px solid #ef4444;
  padding: 10px 14px;
  border-radius: 10px;
  margin-bottom: 15px;
}


.general-info {
  background: #f1f5f9;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 20px;

  h3 {
    margin-bottom: 8px;
  }

  p {
    font-size: 0.9rem;
    color: #475569;
  }
}


.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}


.info-tile {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px;
  border-radius: 10px;

  background: #ffffff;
  border: 1px solid #e2e8f0;

  color: #1e293b;

  transition: 0.2s;
}

.info-tile:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}

.tile-content {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  color: #64748b;
}

.value {
  font-size: 1rem;
  font-weight: 500;
  color: #0f172a;
}


.info-tile:nth-child(1) { border-left: 4px solid #f97316; }
.info-tile:nth-child(2) { border-left: 4px solid #fb923c; }
.info-tile:nth-child(3) { border-left: 4px solid #3b82f6;; }
.info-tile:nth-child(4) { border-left: 4px solid #538ce8;; }
.info-tile:nth-child(5) { border-left: 4px solid #8b5cf6; }
.info-tile:nth-child(6) { border-left: 4px solid #ef4444; }
.info-tile:nth-child(7) { border-left: 4px solid #22c55e; }


mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;

  button:nth-child(1) { background-color: #3b82f6; color: white; }
  button:nth-child(2) { background-color: #f39a5a; color: white; }
  button:nth-child(3) { background-color: #5ecf87; color: white; }
  button:nth-child(4) { background-color: #a07cf1; color: white; }
  button:nth-child(5) { background-color: #f2d649; color: white; }
}
