<div class="survey-list-container">
  <form (ngSubmit)="submitSurvey()" #surveyForm="ngForm">

    <mat-card class = "section-card center-title"> <!-- whatever -->
      <mat-card-header>
      <mat-card-title><h2><strong>MODIFY FAMILY</strong></h2></mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class = "section-card flex-col">
      <p>
      Modify the information of an existing family.<br>
      Use the reset button to restore previous information.<br>
      Don't forget to save your changes!<br>
      </p>

    </mat-card>
    <mat-card class="survey-card">
      <mat-card-content>
        <div class="flex-col">
            <mat-form-field>
              <input matInput placeholder="First Name" [ngModel]="family().first_name" name="familyFirstName" required #familyFirstName="ngModel">
              <mat-hint>Person responsible for pickup.</mat-hint>
              @if (familyFirstName.invalid && (familyFirstName.dirty || familyFirstName.touched)) {
              <mat-error>
                @if (familyFirstName.errors?.required) {
                  Guardian first name is required.
                }
              </mat-error>
              }
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last Name" [ngModel]="family().last_name" name="familyLastName" required #familyLastName="ngModel">
            <mat-hint>Person responsible for pickup.</mat-hint>
            @if (familyLastName.invalid && (familyLastName.dirty || familyLastName.touched)) {
            <mat-error>
              @if (familyLastName.errors?.required) {
                Guardian last name is required.
                <!-- Why isn't this a form control?-->
              }
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="First Name (Optional)" [(ngModel)]="surveyFamilyFirstNameAlt" name="familyFirstNameAlt">
            <mat-hint>Alternative pickup person. (Optional)</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last Name (Optional)" [(ngModel)]="surveyFamilyLastNameAlt" name="familyLastNameAlt">
            <mat-hint>Alternative pickup person. (Optional)</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="surveyParentEmail" name="parentEmail" required email #parentEmail="ngModel">
            <mat-hint>Guardian Email address</mat-hint>
            @if (parentEmail.invalid && (parentEmail.dirty || parentEmail.touched)) {
            <mat-error>
              @if (parentEmail.errors?.required) {
                Guardian Email is required.
              }
              @if (parentEmail.errors?.email) {
                Invalid Email
              }
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Time</mat-label>
            <mat-select placeholder="Time" [ngModel]="family().time" name="timeSelect" required>
              @for (time of filteredTimeOptions(); track time.value) {
                  <mat-option [value]="time.value">{{time.value}}</mat-option>
                }
            </mat-select>
            <mat-hint>Desired time for supplies pickup</mat-hint>
          </mat-form-field>

          @for (child of surveyChildren; track child; let i = $index) {
          <mat-card class="child-card">
            <mat-card-header>
              <mat-card-title>Student #{{i + 1}}</mat-card-title>
              <mat-card-subtitle>Please fill out information for each student:</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="flex-col section-card">
                <mat-form-field>
                  <input matInput placeholder="First Name" [(ngModel)]="child.first_name" name="childFirstName{{i}}" required>
                  <mat-hint>Student first name</mat-hint>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Last Name" [(ngModel)]="child.last_name" name="childLastName{{i}}" required>
                  <mat-hint>Student last name</mat-hint>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>School</mat-label>
                  <mat-select placeholder="School" [(ngModel)]="child.school" name="school{{i}}">
                    @for (school of filteredSchoolOptions(); track school.label) {
                        <mat-option [value]="school.label">{{school.label}}</mat-option>
                        }
                  </mat-select>
                  <mat-hint>School student is enrolled in</mat-hint>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Grade</mat-label>
                  <mat-select [(ngModel)]="child.grade" name="grade{{i}}" required>
                    @for (grade of gradeOptions; track grade) {
                      <mat-option [value]="grade.value">{{grade.label}}</mat-option>
                    }
                  </mat-select>
                  <mat-hint>Grade student is enrolled in</mat-hint>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Teacher</mat-label>
                  <input matInput placeholder="Teacher" [(ngModel)]="child.teacher" name="childTeacher{{i}}">
                  <mat-hint>Student's teacher. (Not required)</mat-hint>
                </mat-form-field>
              </div>

              <div class="radio-group">
                <strong>Does this student need a backpack?</strong>
                <mat-radio-group [(ngModel)]="child.backpack" name="backpack{{i}}" required aria-label="Testing">
                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="radio-group">
                <strong>Does this student need headphones?</strong>
                <mat-radio-group [(ngModel)]="child.headphones" name="headphones{{i}}" required aria-label="Testing">
                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
              </div>

            </mat-card-content>
            <mat-card-actions class="child-actions">
              @if (surveyChildren.length > 1) {
                <button mat-button type="button" (click)="removeChild(i)">Remove Student</button>
              }
            </mat-card-actions>
          </mat-card>
          }

          <button mat-button type="button" (click)="addChild()">Add Another Student</button>

        </div>
      </mat-card-content>
    </mat-card>

    <div class="form-actions">
      <button mat-raised-button color="accent" type="submit" [disabled]="!surveyForm.form.valid">Save Changes</button>
      <button mat-button type="button" (click)="resetSurvey()">Reset Survey</button>
    </div>
  </form>
</div>
